html, body, ul{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: rgb(134,187,216);
  list-style-type: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 232);
  color: rgb(47, 72, 88);
  width: 100%;
}

.nav-links {
  color: rgb(229,229,232);
  text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(47, 72, 88);
    color: rgb(229,229,232);
    padding: 16px;
    font-size: 14px;
    border: none;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'PT Sans Narrow', sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(100, 134, 162);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: rgb(47,72,88);
  height: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: rgb(47,72,88);
  color: rgb(229,229,232);
  height: 30px;
  width: 100%;
}

.create-new {
  margin-top: 175px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.body-link {
  font-weight: bold;
  font-size: 20px;
  color: rgb(47,72,88);
}

.cell-title {
  height: 75px;
  overflow: hidden;
}

.display-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  overflow: scroll;
  margin: 10px;
  margin-bottom: 100px;
  border: solid 0.6px teal;
}

.grid-cell {
  border: solid 0.2px teal;
  padding: 8px;
  list-style-type: none;
}

.item-image {
  width: 75px;
  border-radius: 50%;
  border: teal 2px solid;
  margin: 15px;
}

.intro-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1506765336936-bb05e7e06295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=edbb96ae977af71118e4c12e97c75477&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: bottom;
  height: 700px;
}

.intro-image {
  margin: 2%;
  border: 1px solid rgb(47,72,88);
}

.about-us {
  width: 40%;
  margin: 2%;
  color: rgb(229, 229, 232);
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
}

.dashboard-metrics {
  margin-top: 175px;
  margin-left: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section{
  padding-top: 50px;
}

.form-page {
  width: 200px;
  height: 150px;
  margin-left: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229,229,232);
}

.main-section {
  background-image: url("https://images.unsplash.com/photo-1506765336936-bb05e7e06295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=edbb96ae977af71118e4c12e97c75477&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: bottom;
  height: 700px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

p.quote {
  margin: 0px;
}
