html, body, ul{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: rgb(134,187,216);
  list-style-type: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(229, 229, 232);
  color: rgb(47, 72, 88);
  width: 100%;
}

.nav-links {
  color: rgb(229,229,232);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: rgb(47,72,88);
  height: 50px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  background-color: rgb(47,72,88);
  color: rgb(229,229,232);
  height: 30px;
  width: 100%;
}

.create-new {
  margin-top: 175px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.body-link {
  font-weight: bold;
  font-size: 20px;
  color: rgb(47,72,88);
}

.cell-title {
  height: 75px;
  overflow: hidden;
}

.display-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  overflow: scroll;
  margin: 10px;
  margin-bottom: 100px;
  border: solid 0.4px teal;
}

.grid-cell {
  border: solid 0.2px teal;
  padding: 8px;
  list-style-type: none;
}

.item-image {
  width: 75px;
  border-radius: 50%;
  border: teal 2px solid;
  margin: 15px;
}

.intro-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1506765336936-bb05e7e06295?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=edbb96ae977af71118e4c12e97c75477&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: bottom;
  height: 700px;
}

.intro-image {
  margin: 2%;
  border: 1px solid rgb(47,72,88);
}

.about-us {
  width: 40%;
  margin: 2%;
  color: rgb(229, 229, 232);
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
}

.dashboard-metrics {
  margin-top: 175px;
  margin-left: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-page {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

p.quote {
  margin: 0px;
}
