
<form action="/merchants/<%= @merchant.id %>" method="POST">
  <p>Edit</p>
  <input type="hidden" name="_method" value="PUT" />
  <input id='edit-name' type='text' name='merchant[name]' value="<%= @merchant.name %>"/><br/>
  <input id='edit-submit' type='submit'/>
</form>
