<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <h1>Create New Merchant</h1>
    </header>

    <nav>
      <a class='dropbtn' href="/">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Merchants</button>
          <div class="dropdown-content">
            <a href="/merchants">Merchant Index</a>
            <a href="/merchants/new">Create New Merchant</a>
            <a href="/merchants-dashboard">Merchant Analytics</a>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Items</button>
          <div class="dropdown-content">
            <a href="/items">Item Index</a>
            <a href="/items/new">Create New Item</a>
            <a href="/items-dashboard">Item Analytics</a>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Categories</button>
          <div class="dropdown-content">
            <a href="/categories">Category Index</a>
            <a href="/categories/new">Create New Category</a>
            <a href="/categories-dashboard">Category Analytics</a>
          </div>
      </div>
    </nav>

    <div class="main-section merchants new-form">
      <section class="form-page">
        <form action="/merchants" method="post">
          <p>Create a new merchant:</p>
          <input id='new-name' type='text' name='merchant[name]' value="Name"/><br>
          <input id='new-submit' type='submit'/>
        </form>
      </section>
    </div>

    <footer>
      <p>Email Us: <a class='nav-links' href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>

  </body>
</html>
