<a href="/merchants">Merchant Index</a>

<h1><%= @merchant.name %></h1>

<p><%= @merchant.id %></p>

<a href="/merchants/<%= @merchant.id  %>/edit">Edit</a>
<form action="/merchants/<%= @merchant.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete"/>
</form>
