<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <div class='banner'>
      <header>
        <h1>Item Dashboard</h1>
      </header>
      <nav>
        <div class="dropdown">
          <button class="dropbtn">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Merchant Index</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchant Analytics</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items</button>
            <div class="dropdown-content">
              <a href="/items">Item Index</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Item Analytics</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Category Index</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Category Analytics</a>
            </div>
        </div>
      </nav>
    </div>

    <section class='dashboard-metrics'>
      <p>Total Count of Items: <%= @total_count %></p>
      <p>Average Price of Items: $<%= @average_price %></p>
      <p>Most Recently Created Item: <%= @most_recent %></p>
      <p>Oldest Item: <%= @oldest %></p>
    </section>

    <footer>
      <p>Email Us: <a class='nav-links' href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>
  </body>
</html>
