<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <div class='banner'>
      <header>
        <h1>Item Dashboard</h1>
      </header>
      <nav>
          <a class='nav-links' href="/">Home</a>
          <a class='nav-links' href="/merchants">Merchant Index</a>
          <a class='nav-links' href="/categories">Category Index</a>
      </nav>
    </div>

    <section class='dashboard-metrics'>
      <p>Total Count of Items: <%= @total_count %></p>
      <p>Average Price of Items: $<%= @average_price %></p>
      <p>Most Recently Created Item: <%= @most_recent %></p>
      <p>Oldest Item: <%= @oldest %></p>
    </section>

  </body>

</html>
