<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <h1>Create New Item</h1>
    </header>

    <nav>
        <a href="/merchants">Merchant Index</a>
        <a href="/categories">Category Index</a>
        <a href="/items">Item Index</a>
    </nav>

    <section class="create-form form-page">
      <form action="/items" method="POST">
        <p>Create a new item:</p>
        <input id='new-title' type='text' name='item[title]' value="Title"/><br>
        <textarea id='new-descr' name='item[description]' value="Description Here"></textarea><br>
        <input id='new-price' type='number' name='item[price]' value="Price"/><br>
        <input id='new-image' type='text' name='item[image]' value="Image URL"/><br>
        <select id='new-merchant' name='item[merchant_id]'><br>
          <% @merchants.each do |merchant| %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
          <% end %>
        </select><br/>
        <select id='new-category' name='item[category_id]'>
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select><br/>
        <input id='new-submit' type='submit'/>
      </form>
    </section>

    <footer>
      <p>Email Us: <a href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>

  </body>
</html>
