<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <h1>Create New Item</h1>
    </header>

    <nav>
        <a href="/merchants">Merchant Index</a>
        <a href="/categories">Category Index</a>
        <a href="/items">Item Index</a>
    </nav>

    <section class="create-form">
      <form action="/items" method="POST">
        <p>Create a new item:</p>
        <input type='text' name='item[title]' value="Title"/><br/><br/>
        <textarea name='item[description]' value="Description Here"></textarea><br/>
        <input type='number' name='item[price]' value="Price"/><br/><br/>
        <input type='text' name='item[image]' value="Image URL"/><br/><br/>
        <select name='item[merchant_id]'>
          <% @merchants.each do |merchant| %>
            <option value="<%= merchant.id %>"><%= merchant.name %></option>
          <% end %>
        </select><br/><br/>
        <select name='item[category_id]'>
          <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select><br/><br/>
        <input type='submit'/>
      </form>
    </section>

    <footer>
      <p>Email Us: <a href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>

  </body>
</html>
