<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <div class='banner'>
      <header>
        <h1>Category Analytics</h1>
      </header>
      <nav>
        <div class="dropdown">
          <button class="dropbtn">Merchants</button>
            <div class="dropdown-content">
              <a href="/merchants">Merchant Index</a>
              <a href="/merchants/new">Create New Merchant</a>
              <a href="/merchants-dashboard">Merchant Analytics</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Items</button>
            <div class="dropdown-content">
              <a href="/items">Item Index</a>
              <a href="/items/new">Create New Item</a>
              <a href="/items-dashboard">Item Analytics</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Categories</button>
            <div class="dropdown-content">
              <a href="/categories">Category Index</a>
              <a href="/categories/new">Create New Category</a>
              <a href="/categories-dashboard">Category Analytics</a>
            </div>
        </div>
      </nav>
    </div>

    <section class='dashboard-metrics categories'>
      <p>Category with most expensive item: <%= @categories.includes_most_expensive_item %></p>
      <p>Category with least expensive item: <%= @categories.includes_least_expensive_item %></p>
      <p>Average item price per category:
        <% @categories.each do |category| %>
          <ul>
            <li><%= category.name %>: $<%= category.average_price %></li>
          </ul>
        <% end %>
      </p>
    </section>

    <footer>
      <p>Email Us: <a class='nav-links' href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>
  </body>
</html>
