<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <img style="height:150px" src="images/old_merchant_edit.png">
      <h1 class="welcome-text">The Shop With No Name...</h1>
    </header>

    <nav>
        <a class='nav-links' href="/merchants">Merchant Index</a>
        <a class='nav-links' href="/categories">Category Index</a>
        <a class='nav-links' href="/items">Item Index</a>
    </nav>

    <section>
    </section>

    <footer>
      <p>Email Us: <a class='nav-links' href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>

    <div>
    </div>
  </body>
</html>
