<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <title>Shop With No Name</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>

  <body>
    <header>
      <img style="height:150px" src="images/old_merchant_edit.png">
      <h1 class="welcome-text">The Shop With No Name...</h1>
    </header>

    <nav>
      <div class="dropdown">
        <button class="dropbtn">Merchants</button>
          <div class="dropdown-content">
            <a href="/merchants">Merchant Index</a>
            <a href="/merchants/new">Create New Merchant</a>
            <a href="/merchants/dashboard">Merchant Analytics</a>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Items</button>
          <div class="dropdown-content">
            <a href="/items">Item Index</a>
            <a href="/items/new">Create New Item</a>
            <a href="/items/dashboard">Item Analytics</a>
          </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Categories</button>
          <div class="dropdown-content">
            <a href="/categories">Category Index</a>
            <a href="/categories/new">Create New Category</a>
            <a href="/categories/dashboard">Category Analytics</a>
          </div>
      </div>
    </nav>

    <section class="intro-page">
      <div class='about-us'>
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
      </div>
    </section>

    <footer>
      <p>Email Us: <a class='nav-links' href="mailto:fakeaddress@gmail.com">HR@shopwithnoname.com<a></p>
    </footer>

    <div>
    </div>
  </body>
</html>
